Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$

Use aiohttp with contextmanager
  pubsub/gcloud/aio/pubsub/publisher_client.py
Due: pytest-fixture-require-scope

chore(deps): bump pre-commit config
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency cffi to < 1.15.2
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(deps): update python docker tag to v3.8.15
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.9.15
  .circleci/config.yml
Due: none

chore(deps): update dependency pytest-asyncio to >= 0.16.0, < 0.20.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency aiofiles to v22
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check

chore(deps): update dependency cryptography to v38
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(deps): update node.js to v19
  .circleci/config.yml
Due: none

fix: use context manager for aiohttp requests
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

chore(deps): update python docker tag to v3.11.0
  .circleci/config.yml
Due: none

Check PUBSUB_EMULATOR_HOST at runtime instead of import time
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

check if data['key'] is not none
  datastore/gcloud/aio/datastore/entity.py
Due: pytest-fixture-require-scope

refactor(storage): storage_emulator_host attr added
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

Update README.rst
  storage/README.rst
Due: none

fallback to GOOGLE_CLOUD_PROJECT env var for project name on local dev
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixture-require-scope

ISSUE-547 Fix SSL verification parameter in auth session
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

feat(datastore): fallback to $GOOGLE_CLOUD_PROJECT for local dev (#545)
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/datastore/datastore.html
  aio/datastore/index.html
  rest/datastore/datastore.html
  rest/datastore/index.html
Due: none

chore(deps): bump linters
  .pre-commit-config.yaml
  auth/gcloud/__init__.py
  auth/gcloud/aio/__init__.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/iam_test.py
  auth/tests/unit/token_test.py
  auth/tests/unit/utils_test.py
  bigquery/gcloud/__init__.py
  bigquery/gcloud/aio/__init__.py
  bigquery/tests/unit/bigquery_test.py
  datastore/gcloud/__init__.py
  datastore/gcloud/aio/__init__.py
  datastore/gcloud/aio/datastore/array.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/tests/unit/constants_test.py
  kms/gcloud/__init__.py
  kms/gcloud/aio/__init__.py
  kms/tests/unit/kms_test.py
  pubsub/gcloud/__init__.py
  pubsub/gcloud/aio/__init__.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  storage/gcloud/__init__.py
  storage/gcloud/aio/__init__.py
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/blob_test.py
  storage/tests/unit/bucket_test.py
  storage/tests/unit/storage_test.py
  taskqueue/gcloud/__init__.py
  taskqueue/gcloud/aio/__init__.py
  taskqueue/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/auth/session.html
  aio/auth/token.html
  aio/datastore/array.html
  aio/datastore/datastore.html
  aio/datastore/index.html
  aio/index.html
  aio/pubsub/subscriber.html
  aio/storage/bucket.html
  aio/storage/index.html
  aio/storage/storage.html
  index.html
  rest/auth/session.html
  rest/auth/token.html
  rest/datastore/array.html
  rest/datastore/datastore.html
  rest/datastore/index.html
  rest/index.html
  rest/pubsub/subscriber.html
  rest/storage/bucket.html
  rest/storage/index.html
  rest/storage/storage.html
Due: none

chore(ci): set default python version
  .pre-commit-config.yaml
Due: none

chore(release): bump datastore version
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check

chore(deps): fixup backports.functools-lru-cache name
  datastore/poetry.rest.lock
Due: none

Fetch table data
  bigquery/gcloud/aio/bigquery/table.py
Due: pytest-fixture-require-scope

fetch table data
  bigquery/gcloud/aio/bigquery/table.py
Due: pytest-fixture-require-scope

refactor(lint): apply latest lint rules
  .circleci/config.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/iam.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  bigquery/tests/unit/bigquery_test.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/value.py
  kms/gcloud/aio/kms/kms.py
  mypy.ini
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/tests/integration/pushqueue_test.py
Due: pytest-fixture-require-scope

fix(datastore): allow f-string removal for gcloud-rest
  bin/build-rest
  datastore/gcloud/aio/datastore/value.py
Due: pytest-fixture-require-scope

refactor(lint): apply latest lint rules (#475)
  .circleci/config.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/iam.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  bigquery/tests/unit/bigquery_test.py
  bin/build-rest
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/value.py
  kms/gcloud/aio/kms/kms.py
  mypy.ini
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/tests/integration/pushqueue_test.py
Due: pytest-fixture-require-scope

chore(deps): update node.js to v18.12.1
  .circleci/config.yml
Due: none

feat(deps): drop support for py35 in gcloud-rest
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check

chore(ci): fix py2.7 rest tests
  .circleci/config.yml
Due: none

feat(deps): drop support for py35 in gcloud-rest (#554)
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check

chore(deps): update node.js to v18.12.1 (#538)
  .circleci/config.yml
Due: none

feat(deps): drop support for py36
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

feat(deps): drop support for py36 (#555)
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(ci): matrix test python 3.10 and 3.11
  .circleci/config.yml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

wip
  auth/pyproject.toml
  bigquery/pyproject.toml
  datastore/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(pubsub): clean up log messages
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixture-require-scope
