Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry==2.3.2
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

fix(storage): encode text uploads before calculating length
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
Due: pytest-fixtures-require-scope

fix(storage): preserve text stream position
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
Due: pytest-fixtures-require-scope

Remove users no longer in this organization from CODEOWNERS file
  .github/CODEOWNERS
Due: none

fix(storage): replace archived rsa dependency with cryptography
  .pre-commit-config.yaml
  storage/gcloud/aio/storage/blob.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/unit/blob_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

fix(storage): replace archived rsa dependency with cryptography (#1121)
  .pre-commit-config.yaml
  storage/gcloud/aio/storage/blob.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/unit/blob_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/storage/blob/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/storage/blob/index.rst.txt
  autoapi/storage/blob/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

chore: rename @cphoward -> @caseydialpad in CODEOWNERS
  .github/CODEOWNERS
Due: none

Clean up CODEOWNERS file (#1118)
  .github/CODEOWNERS
Due: none

chore(deps): drop types-requests
  .pre-commit-config.yaml
Due: none

perf(auth): cache Token.get_project()'s resolved project
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v26.10.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v26.10.0 (#1130)
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.4.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.4.0 (#1132)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.4.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.4.1 (#1133)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.0.9
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.0.9 (#1134)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.15.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.15.0 (#1135)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pytest-mock to v3.16.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest-mock to v3.16.0 (#1136)
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pyjwt to v2.15.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.15.1 (#1137)
  .pre-commit-config.yaml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
