Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-storage
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd storage && poetry check'
  language: python
  additional_dependencies:
  - poetry
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update tester orb to v5
  .circleci/config.yml
Due: none

refactor(bigquery): migrate to poetry
  .circleci/config.yml
  .pre-commit-config.yaml
  bigquery/LICENSE
  bigquery/MANIFEST.in
  bigquery/noxfile.py
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bigquery/requirements.txt
  bigquery/setup.cfg
  bigquery/setup.py
  bin/build-rest
Due: poetry-check, pytest-fixture-require-scope

refactor(kms): migrate to poetry
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/build-rest
  kms/LICENSE
  kms/MANIFEST.in
  kms/noxfile.py
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  kms/requirements.txt
  kms/setup.cfg
  kms/setup.py
Due: poetry-check, pytest-fixture-require-scope

refactor(pubsub): migrate to poetry
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/build-rest
  pubsub/LICENSE
  pubsub/MANIFEST.in
  pubsub/noxfile.py
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pubsub/requirements.txt
  pubsub/setup.cfg
  pubsub/setup.py
Due: poetry-check, pytest-fixture-require-scope

refactor(taskqueue): migrate to poetry
  .circleci/config.yml
  .pre-commit-config.yaml
  bin/build-rest
  taskqueue/LICENSE
  taskqueue/MANIFEST.in
  taskqueue/noxfile.py
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
  taskqueue/requirements.txt
  taskqueue/setup.cfg
  taskqueue/setup.py
Due: poetry-check, pytest-fixture-require-scope

docs: fixup docs for poetry usage
  .github/CONTRIBUTING.rst
  .github/RELEASE.rst
  bin/build-rest
Due: none

chore(release): bump auth to premajor
  auth/pyproject.toml
Due: poetry-check

refactor(ci): clean and fix ci job filters
  .circleci/config.yml
Due: none

chore(release): bump auth to prerelease
  auth/pyproject.toml
Due: poetry-check

fix(ci): fixup publish command
  .circleci/config.yml
  auth/pyproject.toml
Due: poetry-check

fix(auth): coerce timeout to clienttimeout for clientsession
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

fix(auth): coerce timeout to clienttimeout for clientsession (#444)
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

chore(auth): bump patch version
  auth/setup.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/auth/index.html
  aio/auth/session.html
  rest/auth/session.html
Due: none

chore(auth): bump patch version (#445)
  auth/setup.py
Due: pytest-fixture-require-scope

chore(pubsub): remove prom metrics configuration
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/metrics_agent.py
Due: pytest-fixture-require-scope

feat(olly): enable prometheus metrics in pubsub
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/requirements.txt
Due: pytest-fixture-require-scope

refactor(pubsub): include queueing time for callback task
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

test(pubsub): add pubsub msg timestamp to mock obj
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixture-require-scope

refactor(pubsub): convert to namespaced metrics
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

refactor(pubsub): rename prom metrics
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

chore(pubsub): add deprecation warning for metrics agent
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

lint(pubsub): pre-commit fixes
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

refactor(pubsub): make latency timing more accurate
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

refactor(pubsub): prometheus only for py3.6+
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/requirements.txt
Due: pytest-fixture-require-scope

refactor(pubsub): generalize batch metric
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

chore: respond to PR requests
  .circleci/config.yml
  auth/pyproject.rest.toml
  bin/build-rest
Due: poetry-check

better way to fix it
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

fix(storage): fix warning in uploading multipart data (#441)
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/storage/index.html
  aio/storage/storage.html
  rest/storage/index.html
  rest/storage/storage.html
Due: none

chore(deps): update node.js to v17.7.2
  .circleci/config.yml
Due: none

chore(deps): update node.js to v17.7.2 (#446)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v17.8.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v17.8.0 (#448)
  .circleci/config.yml
Due: none

refactor(pubsub): use phase instead of aspect for consume latency
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

fix: fixup bad merge resolution
  .circleci/config.yml
Due: none

[skip ci] updated docs
  aio/index.html
  index.html
  rest/index.html
Due: none

chore(release): bump auth version
  auth/pyproject.toml
Due: poetry-check

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
