Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update dependency poetry to v2
  .pre-commit-config.yaml
Due: none

fix(storage): Storage copy for large files
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): lock file maintenance (#872)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.11.13
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.5
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.5 (#874)
  .pre-commit-config.yaml
Due: none

feat(pubsub): clean up logging
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixtures-require-scope

feat(pubsub): clean up logging (#875)
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixtures-require-scope

fix(pubsub): fix unhandled exception in subscriber task
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

fix(storage): fix get_signed_url on emulator
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/storage/blob/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/storage/blob/index.rst.txt
  autoapi/storage/blob/index.html
  searchindex.js
Due: none

fix(storage): avoid breaking blob.bucket on metadata updates
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

fix(storage): close session in get_signed_url (#838)
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

refactor(storage): fix lint issues
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

fix(storage): fix copying of large files (#869)
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

fix(storage): fixup resumable uploads
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  bin/build-rest
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
