Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.1 (#709)
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.9.3
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Update storage poetry.lock
  storage/poetry.lock
Due: none

Code review improvements
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

feat(datastore): support OR and NOT_EQUAL filter operators
  datastore/gcloud/aio/datastore/constants.py
Due: pytest-fixtures-require-scope

feat(auth): support auto-decompress argument passthrough
  auth/gcloud/aio/auth/session.py
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(auth): support auto-decompress argument passthrough (#713)
  auth/gcloud/aio/auth/session.py
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(storage): support gzipping files before uploading them
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/integration/smoke_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(storage): support gzipping files before uploading them (#714)
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/integration/smoke_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore: bump rest lockfiles
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: none

chore(deps): update node.js to v21.7.2
  .circleci/config.yml
Due: none

fix(auth): fixup aiohttp range compatibility
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(auth): fixup aiohttp v3.3.0 compat
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

fix(storage): avoid stomping over session-level auto_decompress value
  .pre-commit-config.yaml
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

Allow external account type
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v21.7.3
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.12.3
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.28.2
  .pre-commit-config.yaml
Due: none
