Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

feat(datastore): allow adding extra fields to datastore payloads
  datastore/gcloud/aio/datastore/datastore.py
  datastore/tests/unit/datastore_test.py
Due: pytest-fixtures-require-scope

Unpack _extra_request_fields
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.37.4
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.37.4 (#1075)
  .pre-commit-config.yaml
Due: none

feat(datastore): allow additional request params
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixtures-require-scope

refactor: consolidate merging logic
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixtures-require-scope

refactor: rename for clarity
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixtures-require-scope

feat(tests): validate _post merge and session creation
  bin/build-rest
  datastore/tests/unit/post_test.py
Due: pytest-fixtures-require-scope

feat(datastore): support additional request fields (#1076)
  bin/build-rest
  datastore/gcloud/aio/datastore/datastore.py
  datastore/tests/unit/post_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/datastore/datastore/index.doctree
  .doctrees/autoapi/datastore/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/datastore/datastore/index.rst.txt
  _sources/autoapi/datastore/index.rst.txt
  autoapi/datastore/datastore/index.html
  autoapi/datastore/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

chore(release): bump datastore minor
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): lock file maintenance (#1077)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(release): bump datastore minor (#1078)
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.2.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.2.0 (#1079)
  .pre-commit-config.yaml
Due: none

fix: keep api_is_dev optional
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixtures-require-scope

fix: keep api_is_dev optional (#1080)
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/bigquery/bigquery/index.doctree
  .doctrees/autoapi/datastore/datastore/index.doctree
  .doctrees/autoapi/kms/kms/index.doctree
  .doctrees/autoapi/pubsub/publisher_client/index.doctree
  .doctrees/autoapi/pubsub/subscriber_client/index.doctree
  .doctrees/autoapi/storage/storage/index.doctree
  .doctrees/autoapi/taskqueue/queue/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/bigquery/bigquery/index.rst.txt
  _sources/autoapi/datastore/datastore/index.rst.txt
  _sources/autoapi/kms/kms/index.rst.txt
  _sources/autoapi/pubsub/publisher_client/index.rst.txt
  _sources/autoapi/pubsub/subscriber_client/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  _sources/autoapi/taskqueue/queue/index.rst.txt
  autoapi/bigquery/bigquery/index.html
  autoapi/datastore/datastore/index.html
  autoapi/kms/kms/index.html
  autoapi/pubsub/publisher_client/index.html
  autoapi/pubsub/subscriber_client/index.html
  autoapi/storage/storage/index.html
  autoapi/taskqueue/queue/index.html
Due: none

chore(release): bump datastore patch
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v26.5.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v26.5.0 (#1082)
  .circleci/config.yml
Due: none

chore(release): bump datastore patch (#1081)
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook asottile/reorder_python_imports to v3.17.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/reorder_python_imports to v3.17.0 (#1083)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook types-requests to v2.33.0.20260712
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook types-requests to v2.33.0.20260712 (#1084)
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  storage/poetry.lock
Due: none

chore(deps): lock file maintenance (#1085)
  bigquery/poetry.lock
  datastore/poetry.lock
  storage/poetry.lock
Due: none
