Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update pre-commit hook pycqa/pylint to v4.0.10
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.0.10 (#1138)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update pre-commit hook cryptography to v50.0.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook cryptography to v50.0.2 (#1140)
  .pre-commit-config.yaml
Due: none

fix(datastore): fixup bad EntityResult equality check
  datastore/gcloud/aio/datastore/entity.py
Due: pytest-fixtures-require-scope

feat(bigquery): implement INTERVAL type parsing
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bigquery/tests/unit/utils_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): update pre-commit hook pycqa/pylint to v4.1.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.1.0 (#1139)
  .pre-commit-config.yaml
Due: none

chore(deps): update python
  .circleci/config.yml
Due: none

chore(deps): update python (#1141)
  .circleci/config.yml
Due: none

fix(auth): allow impersonated service account tokens in IamClient
  auth/gcloud/aio/auth/iam.py
  auth/tests/unit/iam_test.py
Due: pytest-fixtures-require-scope

feat(bigquery): implement INTERVAL type parsing (#1088)
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bigquery/tests/unit/utils_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/bigquery/utils/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/bigquery/utils/index.rst.txt
  autoapi/bigquery/utils/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

fix(auth): two external_account scope-handling bugs (#1092)
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): update lockfiles
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: none

chore(auth): bump version
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bin/build-rest
Due: poetry-check, poetry-use-version-ranges

chore(ci): fix build
  .circleci/config.yml
Due: none

chore(deps): bump versions
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.4.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.4.0 (#1143)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.1.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.1.2 (#1144)
  .pre-commit-config.yaml
Due: none

fix(auth): include error response body in SyncSession HTTPErrors
  auth/gcloud/aio/auth/session.py
  auth/tests/unit/sessions_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook aiohttp to v3.14.4
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook aiohttp to v3.14.4 (#1147)
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges
