Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

feat(auth): add support for `id_token` result using a service account (#840)
  auth/gcloud/aio/auth/token.py
  auth/tests/integration/smoke_test.py
  bin/build-rest
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/auth/token/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/auth/token/index.rst.txt
  autoapi/auth/token/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

feat(auth): support service account impersonation from gcloud json file (#831)
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/auth/index.doctree
  .doctrees/autoapi/auth/token/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/auth/index.rst.txt
  _sources/autoapi/auth/token/index.rst.txt
  autoapi/auth/index.html
  autoapi/auth/token/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

refactor(auth): fix lint issues
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

feat(auth): support metadata env overrides (#834)
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/auth/token/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/auth/token/index.rst.txt
  autoapi/auth/token/index.html
  searchindex.js
Due: none

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bin/build-rest
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pycqa/pylint to v3.3.6
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.6 (#876)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.11.14
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest-asyncio to v0.26.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest-asyncio to v0.26.0 (#878)
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.32.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.32.0 (#879)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.32.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.32.1 (#880)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.2.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.2.0 (#882)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency poetry to v2
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

Fix 'Token' object has no attribute 'scopes' error
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

fix(auth): 'Token' object has no attribute 'scopes' error
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges
