Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

fixes
  datastore/gcloud/aio/datastore/query_explain.py
Due: pytest-fixtures-require-scope

change lookup/runQuery to accept timestamp str instead of datetime
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
  datastore/tests/unit/query_test.py
Due: pytest-fixtures-require-scope

feat(datastore): added newTransaction option for runQuery
  .github/CONTRIBUTING.rst
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

Add class to __init__
  datastore/gcloud/aio/datastore/__init__.py
Due: pytest-fixtures-require-scope

Unified runQuery with runExplainQuery
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query_explain.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/query_explain_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook pycqa/pylint to v3.3.8
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.8 (#926)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.12.15
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.4.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v6
  .pre-commit-config.yaml
Due: none

Revert timeout type hint changes to auth
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v24
  .circleci/config.yml
Due: none

CR suggestions
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/gcloud/aio/datastore/query_explain.py
Due: pytest-fixtures-require-scope

feat(datastore): implement query explain (#922)
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/gcloud/aio/datastore/query_explain.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/query_explain_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/datastore/datastore/index.doctree
  .doctrees/autoapi/datastore/index.doctree
  .doctrees/autoapi/datastore/query/index.doctree
  .doctrees/autoapi/datastore/query_explain/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/datastore/datastore/index.rst.txt
  _sources/autoapi/datastore/index.rst.txt
  _sources/autoapi/datastore/query/index.rst.txt
  _sources/autoapi/datastore/query_explain/index.rst.txt
  autoapi/datastore/datastore/index.html
  autoapi/datastore/index.html
  autoapi/datastore/query/index.html
  autoapi/datastore/query_explain/index.html
  autoapi/datastore/transaction_options/index.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

chore(datastore): bump version
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(datastore): bump version (#929)
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fixes
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

Rename RunQueryResult to QueryResult
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
Due: pytest-fixtures-require-scope

revert auth change
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

feat(datastore): add readTime param to lookup/runQuery (#913)
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
  datastore/tests/unit/query_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/datastore/datastore/index.doctree
  .doctrees/autoapi/datastore/index.doctree
  .doctrees/autoapi/datastore/query/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/datastore/datastore/index.rst.txt
  _sources/autoapi/datastore/index.rst.txt
  _sources/autoapi/datastore/query/index.rst.txt
  autoapi/datastore/datastore/index.html
  autoapi/datastore/index.html
  autoapi/datastore/query/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Remove section that was only valid for dialpad org
  .github/CONTRIBUTING.rst
Due: none

Add back whiteline
  datastore/gcloud/aio/datastore/datastore.py
Due: pytest-fixtures-require-scope

feat(datastore): added newTransaction option for runQuery (#925)
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/datastore/index.doctree
  .doctrees/autoapi/datastore/query/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/datastore/index.rst.txt
  _sources/autoapi/datastore/query/index.rst.txt
  autoapi/datastore/index.html
  autoapi/datastore/query/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

chore(datastore): bump version to 9.1.0
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(datastore): bump version to 9.1.0 (#930)
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v24 (#889)
  .circleci/config.yml
Due: none

feat(storage): add delimiter argument to list_blobs
  storage/gcloud/aio/storage/bucket.py
Due: pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
