Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.3.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v2.3.0 (#1086)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): upgrade chardet dependency upper bound to <8.0
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update cryptography to v49
  .pre-commit-config.yaml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

feat(bigquery): implement INTERVAL type parsing
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): bump release
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update pre-commit hook aiohttp to v3.14.2
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook aiohttp to v3.14.2 (#1089)
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook aiohttp to v3.14.3
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook aiohttp to v3.14.3 (#1091)
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(auth): send external_account scope as-is instead of char-joined
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

fix(auth): request iam scope at STS step when impersonating
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): lock file maintenance (#1093)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

fix(auth): fall back to metadata service when CLOUDSDK_CONFIG points to a directory without the well-known ADC file
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v26.5.1
  .circleci/config.yml
Due: none

chore(deps): update node.js to v26.5.1 (#1095)
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance (#1097)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update pre-commit hook cryptography to v50
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v26.6.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v26.6.0 (#1098)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v26.7.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v26.7.0 (#1100)
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.14.7
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.14.7 (#1099)
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.0.7
  .pre-commit-config.yaml
Due: none
