Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-taskqueue
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd taskqueue && poetry check'
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(pubsub): clean up log messages (#551)
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixture-require-scope

feat(bigquery): implement table data list operation
  bigquery/gcloud/aio/bigquery/table.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/pubsub/index.html
  aio/pubsub/subscriber.html
  rest/pubsub/subscriber.html
Due: none

chore(deps): update python docker tag to v3.11.1
  .circleci/config.yml
Due: none

[skip ci] updated docs
  aio/bigquery/index.html
  aio/bigquery/table.html
  rest/bigquery/index.html
  rest/bigquery/table.html
Due: none

chore(tests): fixup flaky test
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
  taskqueue/tests/integration/conftest.py
  taskqueue/tests/integration/pushqueue_test.py
Due: poetry-check, pytest-fixture-require-scope

feat(storage): make StreamResponse a context manager
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

chore(deps): update aiofiles to v22
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  aio/storage/index.html
  aio/storage/storage.html
  rest/storage/index.html
  rest/storage/storage.html
Due: none

chore(deps): update cryptography to v38
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

fix(storage): upload retry no longer results in IO error
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
Due: pytest-fixture-require-scope

chore(deps): fix readme typo (#543)
  storage/README.rst
Due: none

feat(storage): switch emulator default from https to http
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/storage/storage.html
  rest/storage/storage.html
Due: none

fix(auth): fix stored credential path on Windows
  auth/gcloud/aio/auth/token.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/auth/token.html
  rest/auth/token.html
Due: none

feat(auth): add windows token fallback
  auth/gcloud/aio/auth/token.py
Due: pytest-fixture-require-scope

docs: include docs besides apidocs in site
  .circleci/config.yml
  .github/CONTRIBUTING.rst
  .gitignore
  README.rst
  auth/README.rst
  auth/gcloud/__init__.py
  auth/gcloud/aio/__init__.py
  auth/gcloud/aio/auth/__init__.py
  bigquery/README.rst
  bigquery/gcloud/__init__.py
  bigquery/gcloud/aio/__init__.py
  bigquery/gcloud/aio/bigquery/__init__.py
  bin/build-rest
  datastore/README.rst
  datastore/gcloud/__init__.py
  datastore/gcloud/aio/__init__.py
  datastore/gcloud/aio/datastore/__init__.py
  docs/aio.md
  docs/gcloud.md
  docs/rest.md
  kms/README.rst
  kms/gcloud/__init__.py
  kms/gcloud/aio/__init__.py
  kms/gcloud/aio/kms/__init__.py
  pubsub/README.rst
  pubsub/gcloud/__init__.py
  pubsub/gcloud/aio/__init__.py
  pubsub/gcloud/aio/pubsub/__init__.py
  storage/README.rst
  storage/gcloud/__init__.py
  storage/gcloud/aio/__init__.py
  storage/gcloud/aio/storage/__init__.py
  taskqueue/README.rst
  taskqueue/gcloud/__init__.py
  taskqueue/gcloud/aio/__init__.py
  taskqueue/gcloud/aio/taskqueue/__init__.py
Due: pytest-fixture-require-scope

docs: fixup docs build
  .circleci/config.yml
  .gitignore
  bin/build-rest
Due: none

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  index.html
  search.js
Due: none

chore(types): add py.typed to module packages
  auth/gcloud/aio/py.typed
  auth/gcloud/py.typed
  bigquery/gcloud/aio/py.typed
  bigquery/gcloud/py.typed
  datastore/gcloud/aio/py.typed
  datastore/gcloud/py.typed
  kms/gcloud/aio/py.typed
  kms/gcloud/py.typed
  pubsub/gcloud/aio/py.typed
  pubsub/gcloud/py.typed
  storage/gcloud/aio/py.typed
  storage/gcloud/py.typed
  taskqueue/gcloud/aio/py.typed
  taskqueue/gcloud/py.typed
Due: none

feat: load emulator hosts at runtime
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  datastore/gcloud/aio/datastore/datastore.py
  docs/aio.md
  docs/gcloud.md
  docs/rest.md
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

feat: load emulator hosts at runtime (#557)
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
  bigquery/gcloud/aio/bigquery/table.py
  datastore/gcloud/aio/datastore/datastore.py
  docs/aio.md
  docs/gcloud.md
  docs/rest.md
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

fix(auth): fix ssl verification for emulator sessions
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/auth.html
Due: none

fix(auth): allow token refresh attempts after future cancellation
  auth/gcloud/aio/auth/token.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Due: none

docs(pubsub): include docs on threaded subscribe cancellation
  pubsub/gcloud/aio/pubsub/__init__.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/pubsub.html
  gcloud/rest/pubsub.html
  search.js
Due: none

chore: re-introduce license files
  auth/LICENSE
  bigquery/LICENSE
  datastore/LICENSE
  kms/LICENSE
  pubsub/LICENSE
  storage/LICENSE
  taskqueue/LICENSE
Due: none

chore(release): bump version
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

wip
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Due: none

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
