Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-taskqueue
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd taskqueue && poetry check'
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update node.js to v19.5.0
  .circleci/config.yml
Due: none

feat(repo): update configs from repo-template
  .github/autoapproval.yml
  .github/workflows/autoapproval.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
  datastore/gcloud/aio/datastore/array.py
  storage/tests/unit/upload_retry_test.py
  stubs/__init__.py
  stubs/backoff.pyi
Due: pytest-fixture-require-scope

chore: fix lint
  datastore/gcloud/aio/datastore/array.py
Due: pytest-fixture-require-scope

Add delete method in bigquery, job and dataset
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixture-require-scope

feat(taskqueue): add timeout argument and remove retries
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

Fix lint issues
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

chore(deps): update node.js to v19.5.0 (#579)
  .circleci/config.yml
Due: none

Remove backoff dependency
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

feat(taskqueue): add timeout argument and remove retries
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/taskqueue.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

docs: update contrib guide for poetry119 issues
  .github/CONTRIBUTING.rst
Due: none

feat(bigquery): add delete method in job and dataset
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/dataset.py
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/rest/bigquery.html
  search.js
Due: none

feat(ci): use repo-local secrets
  .circleci/config.yml
Due: none

feat(ci): use repo-local secrets (#582)
  .circleci/config.yml
Due: none

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

Add newTransaction option for lookups
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/options.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixture-require-scope

chore(deps): update dependency cryptography to v39
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Due: none

chore(deps): pin setuptools to avoid PEP420 incompat
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

feat(pubsub): improve logging
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

[Fix] Reformats signed URL to allow for period seperated bucket paths
  .python-version
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixture-require-scope

chore(ci): avoid testing on py27
  .circleci/config.yml
Due: none

feat(python): stop building python2 compat modules
  .github/CONTRIBUTING.rst
  README.rst
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  docs/gcloud.md
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

feat(repo): remove cross-compatibility build code
  auth/gcloud/aio/auth/utils.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  auth/tests/unit/token_test.py
  bin/build-rest
  datastore/tests/unit/value_test.py
  poetry.lock
  pyproject.toml
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/download_range_test.py
  storage/tests/integration/download_stream_test.py
  storage/tests/integration/upload_multipart_test.py
  storage/tests/integration/upload_resumable_test.py
Due: poetry-check, pytest-fixture-require-scope

Fix host header
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixture-require-scope

chore(deps): bump pytest-asyncio
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
  taskqueue/tests/integration/pushqueue_test.py
Due: poetry-check, pytest-fixture-require-scope

chore(deps): update node.js to v19.8.1
  .circleci/config.yml
Due: none

chore(deps): update dependency aiofiles to v23
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check

chore(deps): update dependency chardet to v5
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

chore(ci): matrix test on py310 and py311
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.11.2
  .circleci/config.yml
Due: none

chore(deps): update dependency setuptools to v67
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

chore(ci): matrix test on py310 and py311 (#599)
  .circleci/config.yml
Due: none

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  search.js
Due: none

feat(pubsub): improve logging (#593)
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Due: none

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
