Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update dependency pytest-asyncio to v0.23.8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v22.5.0
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pytest to v8.3.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pycqa/pylint to v3.2.6
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pytest to v8.3.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiofiles to v24
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.1.1
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.10.2
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook asottile/pyupgrade to v3.17.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiofiles to v24 (#773)
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.2
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.7.0
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.11.2
  .pre-commit-config.yaml
Due: none

chore: Update CODEOWNERS with cphoward
  .github/CODEOWNERS
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.2.7
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.8.0
  .circleci/config.yml
Due: none

chore(deps): update dependency pytest to v8.3.3
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.2
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

feat(clients): allow non-dev API endpoint roots
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/tests/unit/bigquery_test.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/tests/unit/datastore_test.py
  kms/gcloud/aio/kms/kms.py
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  kms/tests/unit/kms_test.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/tests/unit/publisher_test.py
  pubsub/tests/unit/subscriber_test.py
  storage/gcloud/aio/storage/storage.py
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/tests/unit/queue_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): update node.js to v22.9.0
  .circleci/config.yml
Due: none
