Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update dependency pytest-asyncio to v1.3.0
  auth/pyproject.toml
  bigquery/pyproject.toml
  datastore/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): lock file maintenance (#968)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.6
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.6 (#969)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook asottile/pyupgrade to v3.21.2
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.13.3
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v25
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook poetry to v2.3.0
  .pre-commit-config.yaml
Due: none

fix(ci): pin poetry in ci steps
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

fix(ci): also pin poetry in test workflows
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance (#972)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update node.js to v25 (#953)
  .circleci/config.yml
Due: none

chore(repo): add global license file
  LICENSE
Due: none

chore(deps): update dependency poetry to v2.3.1
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pytest-asyncio to v1.3.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook asottile/pyupgrade to v3.21.2 (#956)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency poetry to v2.3.1 (#971)
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pytest-asyncio to v1.3.0 (#958)
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): raise minimum aiohttp to v3.9.2
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/pyproject.rest.toml
  datastore/pyproject.rest.toml
  pubsub/pyproject.rest.toml
  storage/pyproject.rest.toml
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope
