Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

refactor(pubsub): fix a missing snake_case
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v6 (#927)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/autoapi/storage/bucket/index.doctree
  .doctrees/autoapi/storage/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/storage/bucket/index.rst.txt
  _sources/autoapi/storage/index.rst.txt
  autoapi/storage/bucket/index.html
  autoapi/storage/index.html
  searchindex.js
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update pre-commit hook poetry to v2 (#847)
  .pre-commit-config.yaml
Due: none

fix(storage): fix default scope for metadata patches
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

refactor(datastore): clean up some lint nitpicks
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/gcloud/aio/datastore/query_explain.py
Due: pytest-fixtures-require-scope

feat(pubsub): allow explicit ack/nack on messages
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_message.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/datastore/datastore/index.doctree
  .doctrees/autoapi/datastore/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/datastore/datastore/index.rst.txt
  _sources/autoapi/datastore/index.rst.txt
  autoapi/datastore/datastore/index.html
  autoapi/datastore/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

chore(deps): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.17.1
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pyasn1-modules to >=0.2.1, <0.5.0
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.33.3
  .pre-commit-config.yaml
Due: none

refactor(renovate): clean up renovate config
  .github/renovate.json5
Due: none

refactor(renovate): clean up renovate config (#892)
  .github/renovate.json5
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.12.15
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.4.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
Due: none

chore(deps): lock file maintenance (#934)
  bigquery/poetry.lock
  datastore/poetry.lock
Due: none

chore(deps): update dependency pytest to v8.4.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.4.2 (#904)
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest-mock to v3.15.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v24.8.0
  .circleci/config.yml
Due: none

Handle nullable field values
  bigquery/gcloud/aio/bigquery/utils.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges
