Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update dependency pytest to v9
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v9 (#955)
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): bump linter configs
  .pre-commit-config.yaml
Due: none

feat(renovate): avoid suggesting cpython minors
  .github/renovate.json5
Due: none

tests(datastore): fixup bad type assumption
  datastore/tests/integration/value_types_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook cryptography to v46
  .pre-commit-config.yaml
  auth/poetry.lock
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

tests(datastore): fix missing async decoration
  datastore/tests/unit/datastore_test.py
Due: pytest-fixtures-require-scope

chore(deps): update dependency aiohttp to v3.13.3
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pyjwt to v2.11.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.11.0 (#983)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency poetry to v2.3.2
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency poetry to v2.3.2 (#984)
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): lock file maintenance (#985)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update node.js to v25.6.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.6.0 (#986)
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook cryptography to v46.0.5
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook cryptography to v46.0.5 (#989)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/autoapi/auth/token/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/auth/token/index.rst.txt
  autoapi/auth/token/index.html
  searchindex.js
Due: none

chore(deps): update node.js to v25.6.1
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.6.1 (#990)
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance (#991)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

[skip ci] updated docs
  .buildinfo
  .doctrees/environment.pickle
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.36.2
  .pre-commit-config.yaml
Due: none
