Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update python docker tag to v3.7.17
  .circleci/config.yml
Due: none

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

chore(deps): bump release version
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Due: none

fix(auth): reset token acquisition future after failure
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(auth): bump version
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(auth): reset token acquisition future after failure (#628)
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(release): bump auth version
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(release): bump auth version (#629)
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

bump(storage-8.2.1): from 8.2.1a0 to 8.2.1
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

bump(storage): 8.3.0
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

bump(storage-8.3.0): from 8.2.1a0 to 8.3.0 (#630)
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

[skip ci] updated docs
  gcloud/aio/storage.html
  gcloud/rest/auth.html
  gcloud/rest/storage.html
  search.js
Due: none

Unpins `cryptography` in order to expedite CVE patches
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update python docker tag to v3.10.13
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.11.5
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.8.18
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.9.18
  .circleci/config.yml
Due: none

feat: drop python3.7 support
  .circleci/config.yml
  .github/CONTRIBUTING.rst
  .pre-commit-config.yaml
  README.rst
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  poetry.lock
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/gcloud/aio/taskqueue/queue.py
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.0
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit linters
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v19.9.0
  .circleci/config.yml
Due: none

chore(renovate): disable autoupdates for python minors
  .github/renovate.json
  .github/renovate.json5
Due: none

Add match_glob param to list_blobs
  storage/gcloud/aio/storage/bucket.py
Due: pytest-fixtures-require-scope

feat(storage): add match_glob param to list_blobs() (#634)
  storage/gcloud/aio/storage/bucket.py
Due: pytest-fixtures-require-scope

fix(auth): fixup using default timeout values in Session
  auth/gcloud/aio/auth/iam.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/gcloud/aio/auth/utils.py
Due: pytest-fixtures-require-scope

fix(renovate): keep version ranges instead of pins
  .github/renovate.json5
Due: none

chore(deps): nuke unused dev dependencies
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): bump max supported cryptography
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Accept the official format for `STORAGE_EMULATOR_HOST` env var
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(storage): backwards compatibility for host change
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

docs(storage): update docs for host change
  storage/gcloud/aio/storage/__init__.py
Due: pytest-fixtures-require-scope

fix(storage): accept the official format for `$STORAGE_EMULATOR_HOST` (#632)
  storage/gcloud/aio/storage/__init__.py
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
