Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-taskqueue
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd taskqueue && poetry check'
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

feat(pubsub): add topic/sub convenience methods to SubscriberClient
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

feat(pubsub): add topic/sub convenience methods to SubscriberClient (#592)
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/pubsub.html
  gcloud/rest/pubsub.html
  search.js
Due: none

feat(pubsub): support subscription patch operation
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

check if data['key'] is not none
  datastore/gcloud/aio/datastore/entity.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/rest/datastore.html
Due: none

chore(repo): bump from latest template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/autoapproval.yml
  .github/workflows/autoapproval.yml
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  auth/tests/unit/utils_test.py
  bigquery/gcloud/aio/bigquery/table.py
  datastore/gcloud/aio/datastore/array.py
  datastore/gcloud/aio/datastore/key.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  pubsub/gcloud/aio/pubsub/utils.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/download_range_test.py
  storage/tests/integration/upload_multipart_test.py
  storage/tests/integration/upload_resumable_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
Due: none

fix(storage): sort headers properly for signed url
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Due: pytest-fixture-require-scope

feat(storage): support domain-named buckets
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/storage.html
  gcloud/rest/storage.html
Due: none

feat(pubsub): support subscription patch operation (#605)
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

chore(pubsub): fix lint issue
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

chore(release): bump auth version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/aio/pubsub.html
  gcloud/rest/auth.html
  gcloud/rest/pubsub.html
Due: none

chore(release): bump versions
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/rest/datastore.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
Due: none

Code review updates. Add underscore to private methods, rename options with transaction_options, split ReadWrite class into ReadWrite and ReadOnly
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/options.py
  datastore/gcloud/aio/datastore/transaction_options.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixture-require-scope

feat(datastore): add newTransaction option for lookups
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/transaction_options.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/rest/datastore.html
  search.js
Due: none

chore(release): bump version
  datastore/poetry.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
Due: poetry-check

chore(pre-commit): reset incompatible flake8 to 5.0.4
  .pre-commit-config.yaml
Due: none

chore(pre-commit): alpha pylint version internally inconsistent
  .pre-commit-config.yaml
Due: none

Fix cancel job url
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixture-require-scope

feat(list-buckets): adding list_buckets function
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

feat(list-buckets): adding headers
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

feat(get-buckets): added a new method to our gcloud.{aio|rest} lib
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/conftest.py
  storage/tests/integration/get_buckets_test.py
Due: pytest-fixture-require-scope

feat(list-buckets): addressing Kev's suggestions
  storage/gcloud/aio/storage/bucket.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/list_buckets_test.py
Due: pytest-fixture-require-scope

list_buckets now retruns a List instead of a Set
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

feat(list-buckets): adding a Storage method returning buckets from a project (#617)
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/conftest.py
  storage/tests/integration/list_buckets_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

feat(list-buckets): prereleasing list_buckets() method
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check

feat(list-buckets): prereleasing list_buckets() method (#618)
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check

fix(bigquery): fixup cancel job url
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/rest/bigquery.html
Due: none

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
