Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.36.2 (#992)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update dependency chardet to v6
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency chardet to v6
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

fix(storage): fix default scope for metadata patches (#932)
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  storage/poetry.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pycqa/pylint to v4.0.5
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/autoapi/storage/index.doctree
  .doctrees/autoapi/storage/storage/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v4.0.5 (#993)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency linter to v4.0.1
  .circleci/config.yml
Due: none

chore(deps): update dependency linter to v4.0.1 (#996)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.7.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.7.0 (#997)
  .circleci/config.yml
Due: none

feat(pubsub): [BREAKING] remove deprecated metrics agent
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/metrics_agent.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/pubsub/index.doctree
  .doctrees/autoapi/pubsub/metrics_agent/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/pubsub/index.rst.txt
  _sources/autoapi/pubsub/metrics_agent/index.rst.txt
  autoapi/pubsub/index.html
  autoapi/pubsub/metrics/index.html
  autoapi/pubsub/metrics_agent/index.html
  autoapi/pubsub/publisher_client/index.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

fix(auth): allow auto_descompress to be null
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/auth/session/index.doctree
  .doctrees/environment.pickle
  autoapi/auth/session/index.html
Due: none

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(storage): avoid overwriting user settings for auto_decompress
  .pre-commit-config.yaml
  storage/gcloud/aio/storage/storage.py
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(storage): set auto-decompress as needed for download_stream
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

fix(storage): fixup inverted logic in previous features
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

feat(pubsub): allow explicit ack/nack on messages
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_message.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

test(pubsub): replace asyncio.Future in subscriber tests
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

test(taskqueue): clean up unnecessary fixtures
  taskqueue/tests/integration/conftest.py
  taskqueue/tests/integration/pushqueue_test.py
Due: pytest-fixtures-require-scope
