Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.28.2
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.10.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency python/cpython to v3.12
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.1.0
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.28.3
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.1.1
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.2.0
  .circleci/config.yml
Due: none

chore(deps): update dependency pytest-asyncio to v0.23.7
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.2.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.28.4
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook hhatto/autopep8 to v2.1.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.2.2
  .pre-commit-config.yaml
Due: none

chore(pre-commit): bump pylint to v3.2.2
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook hhatto/autopep8 to v2.1.2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook hhatto/autopep8 to v2.2.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/reorder-python-imports to v3.13.0
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pytest to v8.2.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pycqa/pylint to v3.2.3
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.16.0
  .pre-commit-config.yaml
Due: none
