Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update dependency pytest to v8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(ci): add py312 to matrix test targets
  .circleci/config.yml
Due: none

chore(taskqueue): bump test code for py3.11 deprecation
  taskqueue/tests/integration/pushqueue_test.py
Due: pytest-fixtures-require-scope

chore(auth): handle aiohttp "deprecation" of ssl=None
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

refactor: .utcnow() -> .now(utc)
  auth/gcloud/aio/auth/token.py
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

chore(ci): add py312 to matrix test targets (#654)
  .circleci/config.yml
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  storage/gcloud/aio/storage/blob.py
  taskqueue/tests/integration/pushqueue_test.py
Due: pytest-fixtures-require-scope

chore(deps): update python docker tag to v3.11.7
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.11.7 (#660)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v21.6.1
  .circleci/config.yml
Due: none

chore(deps): update node.js to v21.6.1 (#675)
  .circleci/config.yml
Due: none

chore: bump renovate config
  .github/renovate.json5
Due: none

chore(deps): update python docker tag to v3.11.8
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.12.2
  .circleci/config.yml
Due: none

chore(deps): update node.js to v21.6.2
  .circleci/config.yml
Due: none

feat(bigquery): add location for Big Query job (#658)
  bigquery/gcloud/aio/bigquery/bigquery.py
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixtures-require-scope

chore(deps): update lockfiles
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(deps): declare aiohttp incompatibility
  auth/poetry.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): rebuild taskqueue lockfils
  taskqueue/poetry.lock
Due: none

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(release): bump version
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

feat(auth): add support for service account impersonation
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
  auth/tests/integration/conftest.py
  auth/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope
