Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(ci): matrix test on py 3.13 and 3.14
  .circleci/config.yml
Due: none

refactor(retry): migrate from backoff to tenacity
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/tests/integration/smoke_test.py
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  kms/poetry.lock
  kms/poetry.rest.lock
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  storage/gcloud/aio/storage/__init__.py
  storage/poetry.lock
  storage/poetry.rest.lock
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): revert support for chardet v6
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
Due: poetry-check, poetry-use-version-ranges

refactor: revert tenacity handler style in tests to be inline
  bigquery/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): lock file maintenance (#1001)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update node.js to v25.8.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.8.0 (#1003)
  .circleci/config.yml
Due: none

chore(deps): update python
  .circleci/config.yml
Due: none

chore(deps): update python (#1002)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.8.1
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.8.1 (#1006)
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.12.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.12.0 (#1007)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.12.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pyjwt to v2.12.1 (#1008)
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance (#1009)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(auth): upgrade chardet dependency upper bound to < 8.0
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

feat(iap): allow specifying oauth client id
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

feat(iap): support service account jwt
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

feat(iap): support sa jwt with impersonation
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): lock file maintenance (#1011)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update pre-commit hook types-requests to v2.32.4.20260324
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook types-requests to v2.32.4.20260324 (#1012)
  .pre-commit-config.yaml
Due: none

feat(clients): allow non-dev API endpoint roots (#811)
  auth/gcloud/aio/auth/token.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixtures-require-scope

feat(auth): external credential type in auth (#906)
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/auth/index.doctree
  .doctrees/autoapi/auth/token/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/auth/index.rst.txt
  _sources/autoapi/auth/token/index.rst.txt
  autoapi/auth/index.html
  autoapi/auth/token/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

tests(auth): avoid running aio-only tests in gcloud-rest
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope
