Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$

chore(deps): update node.js to v18.2.0
  .circleci/config.yml
Due: none

Moves cryptography to dev dep by using ES256 instead of RS256 to sign jwts
  auth/gcloud/aio/auth/token.py
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check, pytest-fixture-require-scope

chore(deps): update node.js to v18.2.0 (#471)
  .circleci/config.yml
Due: none

chore(deps): update dependency python to v3.10.4
  .circleci/config.yml
Due: none

chore(deps): update dependency python to v3.10.4 (#389)
  .circleci/config.yml
Due: none

chore(deps): update poetry orb to v3
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18.3.0
  .circleci/config.yml
Due: none

chore(deps): update dependency python to v3.10.5
  .circleci/config.yml
Due: none

chore(deps): update dependency python to v3.10.5 (#478)
  .circleci/config.yml
Due: none

fix(ci): use new executor poetry arg
  .circleci/config.yml
Due: none

chore(ci): avoid overly specific poetry orb pin
  .circleci/config.yml
Due: none

fix(ci): fixup names
  .circleci/config.yml
Due: none

chore(build): rewrite rest lockfiles
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
Due: poetry-check

chore(deps): update poetry orb to v3 (#474)
  .circleci/config.yml
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
Due: poetry-check

Pass entity_result_type to EntityResult.from_repr and Entity.from_repr
  datastore/gcloud/aio/datastore/entity.py
  datastore/gcloud/aio/datastore/query.py
Due: pytest-fixture-require-scope

feat(bigquery): set job_id after job insertion
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixture-require-scope

chore(deps): update node.js to v18.4.0
  .circleci/config.yml
Due: none

feat(bigquery): set job_id after job insertion (#483)
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixture-require-scope

chore(deps): update node.js to v18.4.0 (#484)
  .circleci/config.yml
Due: none

feat(bigquery): convert responses to dicts
  bigquery/gcloud/aio/bigquery/__init__.py
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

fix(bigquery): fix support for records
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

refactor(bigquery): rename query parse method
  bigquery/gcloud/aio/bigquery/__init__.py
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

fix(bigquery): make response parsing timezone-aware
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

fix(bigquery): fixup numerics
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

added pagination to list_subscriptions
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

simplify code to just one fake do-while loop
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

added pagination to list_subscriptions (#489)
  pubsub/gcloud/aio/pubsub/subscriber_client.py
Due: pytest-fixture-require-scope

bump pubsub version to 5.0.1
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check

bump pubsub version to 5.0.1 (#491)
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check

feat(bigquery): convert responses to dicts (#486)
  bigquery/gcloud/aio/bigquery/__init__.py
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

chore(release): bump version
  .circleci/config.yml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  aio/bigquery/index.html
  aio/bigquery/job.html
  aio/bigquery/utils.html
  aio/pubsub/index.html
  aio/pubsub/subscriber_client.html
  rest/bigquery/index.html
  rest/bigquery/job.html
  rest/bigquery/utils.html
  rest/pubsub/index.html
  rest/pubsub/subscriber_client.html
Due: none

fix(bigquery): clear broken rest lockfile cache
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
Due: poetry-check

chore(deps): fully regenerate bq rest lockfile
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
Due: poetry-check

fix(bigquery): fixup support for py2 builds
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/bigquery/utils.html
  rest/bigquery/utils.html
Due: none

chore(deps): update node.js to v18.6.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18.6.0 (#488)
  .circleci/config.yml
Due: none
