Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-storage
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd storage && poetry check'
  language: python
  additional_dependencies:
  - poetry
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

add parsing failure test
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

look at field index while parsing records
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

fix)bigquery): fixup query parsing for nested records
  bigquery/gcloud/aio/bigquery/utils.py
  bigquery/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/bigquery/utils.html
  rest/bigquery/utils.html
Due: none

chore(release): bump version
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
Due: poetry-check

chore(deps): update node.js to v18.7.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18.7.0 (#495)
  .circleci/config.yml
Due: none

chore(deps): update dependency python to v3.10.6
  .circleci/config.yml
Due: none

fix: Guarantee acquire_access_token API releases the acquiring future after cancellation
  auth/gcloud/aio/auth/token.py
Due: pytest-fixture-require-scope

fix(auth): Guarantee we do not try to await for access token retrieval after the action has been cancelled
  auth/gcloud/aio/auth/token.py
Due: pytest-fixture-require-scope

chore(deps): update linter orb to v3
  .circleci/config.yml
Due: none

chore(deps): update poetry orb to v4
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.7.14
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18.9.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18.9.0 (#501)
  .circleci/config.yml
Due: none

chore(repo): rename eng gh group
  .github/CODEOWNERS
Due: none

chore(deps): update thekevjames/nox docker tag to v2022.8.7
  .circleci/config.yml
Due: none

fix(ci): use nox image for everything
  .circleci/config.yml
Due: none

fix(ci): use nox image for everything (#514)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18.9.1
  .circleci/config.yml
Due: none

chore(deps): update dependency pytest-asyncio to >= 0.16.0, < 0.19.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency cffi to < 1.15.2
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(lint): enable mccabe complexity plugin with default settings
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixture-require-scope

chore(lint): enable mccabe complexity plugin with default settings (#515)
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/auth/session.html
  aio/pubsub/subscriber.html
  rest/auth/session.html
  rest/pubsub/subscriber.html
Due: none

fix(rest): build rest without prometheus-client
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bin/build-rest
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check

fix(auth): Fix Token for stored credentials on Windows
  auth/gcloud/aio/auth/token.py
Due: pytest-fixture-require-scope

refactor(pubsub): pull out num msgs received metric
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

feat(pubsub): add batch size histogram metric
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

chore(pubsub): remove _total units in metrics
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/metrics.py
Due: pytest-fixture-require-scope

feat(olly): enable prometheus metrics in pubsub (#425)
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bin/build-rest
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/README.rst
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pubsub/tests/unit/subscriber_test.py
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, pytest-fixture-require-scope

chore(pubsub): bump minor version
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  aio/pubsub/index.html
  aio/pubsub/metrics.html
  aio/pubsub/subscriber.html
  rest/pubsub/index.html
  rest/pubsub/metrics.html
  rest/pubsub/subscriber.html
Due: none

chore(deps): update python docker tag to v3.8.15
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.9.15
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.10.8
  .circleci/config.yml
Due: none

chore(release): bump version
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check

chore(release): un-break pubsub lockfile
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check

chore(deps): update node.js to v19
  .circleci/config.yml
Due: none

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
