Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update node.js to v24
  .circleci/config.yml
Due: none

chore(deps): update dependency aiohttp to v3.12.13
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.16.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.16.1 (#903)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.3.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/flake8 to v7.3.0 (#907)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.4.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix rest script and tests
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bin/build-rest
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: none

feat(pubsub): allow disabling ack deadline fetch
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

chore(release): bump minor
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v22.17.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v22.17.0 (#910)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

feat(pubsub): allow disabling ack deadline fetch (#898)
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  pubsub/tests/unit/subscriber_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/pubsub/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/pubsub/index.rst.txt
  autoapi/pubsub/index.html
  searchindex.js
Due: none

Start fiddling with implementation
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

A little more work
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Add content-* headers
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Rename method, add test file
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/compose_test.py
Due: pytest-fixtures-require-scope

Apply fixes from precommit hooks
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/compose_test.py
Due: pytest-fixtures-require-scope

Tweak tests, make sure content_type can vary
  storage/tests/integration/compose_test.py
Due: pytest-fixtures-require-scope

feat(pubsub): add support for snapshots
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.33.2
  .pre-commit-config.yaml
Due: none

Use List type rather than list
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

feat(datastore): add readTime param to lookup/runQuery and standardized readOptions building
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
  datastore/tests/unit/query_test.py
Due: pytest-fixtures-require-scope

Bump version to 9.5.0
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Remove unnecessary try/finally
  storage/tests/integration/compose_test.py
Due: pytest-fixtures-require-scope

feat(storage): implement compose method (#912)
  storage/gcloud/aio/storage/storage.py
  storage/pyproject.rest.toml
  storage/pyproject.toml
  storage/tests/integration/compose_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/storage/index.doctree
  .doctrees/autoapi/storage/storage/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none
