Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update pre-commit hook asottile/pyupgrade to v3.16.0
  .pre-commit-config.yaml
Due: none

chore(deps): update python docker tag to v3.12.4
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

feat(datastore): Support "IN" query filter
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/constants.py
  datastore/gcloud/aio/datastore/filter.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.28.5
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.3.0
  .circleci/config.yml
Due: none

Formatting + adding NOT_IN filter support
  datastore/gcloud/aio/datastore/constants.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

chore(datastore): clean up some comments, fix lint
  datastore/gcloud/aio/datastore/constants.py
  datastore/gcloud/aio/datastore/filter.py
Due: pytest-fixtures-require-scope

chore(datastore): further lint fixes
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

fix(auth): use the full format for the JWT payload in IAPToken
  auth/gcloud/aio/auth/token.py
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(datastore): support "IN" query filter (#760)
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/constants.py
  datastore/gcloud/aio/datastore/filter.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

fix(auth): use the full format for the JWT payload in IAPToken (#765)
  auth/gcloud/aio/auth/token.py
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pycqa/flake8 to v7.1.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook hhatto/autopep8 to v2.3.0
  .pre-commit-config.yaml
Due: none

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update pre-commit hook hhatto/autopep8 to v2.3.1
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiofiles to v24
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.10.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.28.6
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.2.5
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v22.4.0
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.0
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.4.1
  .circleci/config.yml
Due: none
