Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(deps): update dependency pytest to v8.4.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v24
  .circleci/config.yml
Due: none

Improve smoketest
  datastore/gcloud/aio/datastore/datastore.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
Due: pytest-fixtures-require-scope

forgot datetime import
  datastore/tests/unit/datastore_test.py
Due: pytest-fixtures-require-scope

chore(deps): update dependency aiohttp to v3.12.14
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Removed unnecessary if
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

accept and return utc datetime
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
  datastore/tests/unit/query_test.py
Due: pytest-fixtures-require-scope

more fixes
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

more linter fixes :(
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v22.17.1
  .circleci/config.yml
Due: none

chore(deps): update node.js to v22.17.1 (#916)
  .circleci/config.yml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

bump version to 6.3.0
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

feat(pubsub): add support for snapshots (#911)
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/pubsub/index.doctree
  .doctrees/autoapi/pubsub/subscriber_client/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/pubsub/index.rst.txt
  _sources/autoapi/pubsub/subscriber_client/index.rst.txt
  autoapi/pubsub/index.html
  autoapi/pubsub/subscriber_client/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

chore(ci): use debian:bullseye-slim executor for github job
  .circleci/config.yml
Due: none

chore(ci): use debian:bullseye-slim executor for github job (#918)
  .circleci/config.yml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.33.2
  .pre-commit-config.yaml
Due: none

perf(auth): improve latency by disabling netrc within requests lib
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

Implement query explain in gcloud
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query_explain.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/query_explain_test.py
Due: pytest-fixtures-require-scope

clean up comments and improve formatting
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query_explain.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/query_explain_test.py
Due: pytest-fixtures-require-scope

Added IndexDefinition and ExecutionStats parsing
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query_explain.py
  datastore/tests/unit/query_explain_test.py
Due: pytest-fixtures-require-scope

quick fix
  datastore/gcloud/aio/datastore/query_explain.py
Due: pytest-fixtures-require-scope

minor fixes
  datastore/gcloud/aio/datastore/query_explain.py
Due: pytest-fixtures-require-scope

Refactored timeout type hints to accept both int and float
  auth/gcloud/aio/auth/session.py
  datastore/gcloud/aio/datastore/datastore.py
  datastore/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

chore(deps): update dependency aiohttp to v3.12.15
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Updated test cases + cleaned up todos
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query_explain.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/query_explain_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v22.18.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v22.18.0 (#923)
  .circleci/config.yml
Due: none

minor tweaks
  datastore/gcloud/aio/datastore/datastore.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/datastore_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook poetry to v2
  .pre-commit-config.yaml
Due: none
