Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(auth): bump to auth v5.1.2
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(auth): correctly set ssl flag for aio
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

fix(bigquery): use backoff on smoke tests
  bigquery/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

fix(auth): correctly set ssl flag for aio (#661)
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/tests/integration/smoke_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

feat(storage): blob upload with content type
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

feat(auth): add support for service account impersonation
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
  auth/tests/integration/smoke_test.py
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixtures-require-scope

fix(bigquery) Add location param to BigQuery Job
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixtures-require-scope

chore(renovate): migrate renovate config for recent updates
  .github/renovate.json5
Due: none

chore(deps): update node.js to v21.6.0
  .circleci/config.yml
Due: none

Restore url signing by using the signBlob endpoint of the IAM API
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Due: pytest-fixtures-require-scope

Fix test imports
  storage/tests/integration/signed_url_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v21.6.0 (#664)
  .circleci/config.yml
Due: none

Bump version + Improve error handling + Fix test
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
  storage/tests/integration/signed_url_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Fix iam signature
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

Add temporary signature debug
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

Temporary version bump to test
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Fix credential building
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Fix version and remove debug print
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Fix lint
  storage/gcloud/aio/storage/blob.py
  storage/tests/integration/signed_url_test.py
Due: pytest-fixtures-require-scope

Fix line too long
  storage/tests/integration/signed_url_test.py
Due: pytest-fixtures-require-scope

Fix more linting issues
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

Add type casting
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

Fix type casting
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

fix(storage): implement blob signing for GCE_METADATA tokens (#671)
  storage/gcloud/aio/storage/blob.py
  storage/pyproject.toml
  storage/tests/integration/signed_url_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: none

chore(deps): update dependency pytest to v8
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
