Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry==2.3.2
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

fix(storage): preserve chunk headers on resumable upload retries
  storage/gcloud/aio/storage/storage.py
  storage/tests/unit/upload_retry_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook tenacity to v9.2.1
  .pre-commit-config.yaml
  bigquery/poetry.lock
  bigquery/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook tenacity to v9.2.1 (#1149)
  .pre-commit-config.yaml
  bigquery/poetry.lock
  bigquery/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v26.11.1
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.22.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/reorder_python_imports to v3.18.0
  .pre-commit-config.yaml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
