Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry==2.3.2
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

feat(bigquery): support DATE columns
  bigquery/gcloud/aio/bigquery/utils.py
Due: pytest-fixtures-require-scope

feat(pubsub): allow explicit ack/nack on messages (#931)
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/gcloud/aio/pubsub/subscriber_message.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/pubsub/index.doctree
  .doctrees/autoapi/pubsub/subscriber_message/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/pubsub/index.rst.txt
  _sources/autoapi/pubsub/subscriber_message/index.rst.txt
  autoapi/pubsub/index.html
  autoapi/pubsub/subscriber_message/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

chore(deps): update node.js to v25.8.2
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.8.2 (#1013)
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook cryptography to v46.0.6
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook cryptography to v46.0.6 (#1014)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.37.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.37.1 (#1015)
  .pre-commit-config.yaml
Due: none

refactor(retry): migrate from backoff to tenacity
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bigquery/tests/integration/smoke_test.py
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  kms/poetry.lock
  kms/poetry.rest.lock
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  storage/gcloud/aio/storage/__init__.py
  storage/poetry.lock
  storage/poetry.rest.lock
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

refactor(retry): migrate from backoff to tenacity (#1000)
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/token.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  bigquery/tests/integration/smoke_test.py
  bin/build-rest
  datastore/poetry.lock
  datastore/poetry.rest.lock
  kms/poetry.lock
  kms/poetry.rest.lock
  pubsub/gcloud/aio/pubsub/__init__.py
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  storage/gcloud/aio/storage/__init__.py
  storage/poetry.lock
  storage/poetry.rest.lock
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/autoapi/pubsub/index.doctree
  .doctrees/autoapi/storage/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/pubsub/index.rst.txt
  _sources/autoapi/storage/index.rst.txt
  autoapi/pubsub/index.html
  autoapi/storage/index.html
  searchindex.js
Due: none

chore(ci): matrix test on py 3.13 and 3.14
  .circleci/config.yml
Due: none

chore(ci): matrix test on py 3.13 and 3.14 (#999)
  .circleci/config.yml
Due: none

[skip ci] updated docs
  .buildinfo
  .doctrees/autoapi/auth/token/index.doctree
  .doctrees/autoapi/bigquery/bigquery/index.doctree
  .doctrees/autoapi/bigquery/index.doctree
  .doctrees/autoapi/datastore/constants/index.doctree
  .doctrees/autoapi/datastore/index.doctree
  .doctrees/autoapi/datastore/query_explain/index.doctree
  .doctrees/autoapi/storage/blob/index.doctree
  .doctrees/autoapi/storage/storage/index.doctree
  .doctrees/environment.pickle
  _sources/autoapi/auth/token/index.rst.txt
  _sources/autoapi/bigquery/bigquery/index.rst.txt
  _sources/autoapi/bigquery/index.rst.txt
  _sources/autoapi/datastore/constants/index.rst.txt
  _sources/autoapi/datastore/index.rst.txt
  _sources/autoapi/datastore/query_explain/index.rst.txt
  _sources/autoapi/storage/blob/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/auth/token/index.html
  autoapi/bigquery/bigquery/index.html
  autoapi/bigquery/index.html
  autoapi/datastore/constants/index.html
  autoapi/datastore/index.html
  autoapi/datastore/query_explain/index.html
  autoapi/storage/blob/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): lock file maintenance (#1020)
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update dependency poetry to v2.3.3
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency poetry to v2.3.3 (#1019)
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v25.9.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v25.9.0 (#1022)
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  kms/poetry.lock
  storage/poetry.lock
Due: none

chore(deps): lock file maintenance (#1024)
  auth/poetry.lock
  bigquery/poetry.lock
  kms/poetry.lock
  storage/poetry.lock
Due: none

chore(deps): update pre-commit hook aiohttp to v3.13.5
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook aiohttp to v3.13.5 (#1023)
  .pre-commit-config.yaml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.20.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook cryptography to v46.0.7
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook cryptography to v46.0.7 (#1026)
  .pre-commit-config.yaml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
