Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

chore(release): bump version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(storage): handle responseerror on finaly upload retry
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

feat(storage): blob upload with content type (#663)
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.0.1
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest to v8.0.2
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update node.js to v21.7.0
  .circleci/config.yml
Due: none

fix(auth): missing guard for rest package
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

fix(deps): fixup support for aiohttp >= 3.9.3
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

fix(deps): fixup support for aiohttp >= 3.9.3 (#689)
  auth/gcloud/aio/auth/session.py
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

fix(rest-auth): resp.text() for aiohttp but resp.text for requests lib
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

fix(rest-auth): resp.text() for aiohttp but resp.text for requests lib (#695)
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

bump(auth): I forgot to bump the auth version (patch)
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

output from bin/build-rest
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
Due: none

bump(auth): I forgot to bump the auth version (patch) (#696)
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(pubsub): additional buckets to consume_latency prom metrics
  .github/CONTRIBUTING.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

chore(pubsub): additional buckets to consume_latency prom metrics (#697)
  .github/CONTRIBUTING.rst
  pubsub/gcloud/aio/pubsub/metrics.py
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope
