Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-storage
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd storage && poetry check'
  language: python
  additional_dependencies:
  - poetry
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update dependency cryptography to v36.0.2
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(deps): update dependency gcloud-aio-auth to v3.8.1
  bigquery/pyproject.toml
  datastore/pyproject.toml
  kms/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency python to v3.9.12
  .circleci/config.yml
Due: none

chore(deps): update dependency thekevjames/nox to v2022
  .circleci/config.yml
Due: none

chore(deps): update dependency gcloud-aio-auth to v4
  bigquery/pyproject.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

chore(release): bump versions
  auth/pyproject.rest.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): pin dependencies
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  kms/poetry.lock
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency pytest to v7.1.1
  auth/pyproject.toml
  bigquery/pyproject.toml
  datastore/pyproject.toml
  kms/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency pytest-asyncio to v0.18.3
  auth/pyproject.toml
  bigquery/pyproject.toml
  datastore/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency pytest-mock to v3.7.0
  auth/pyproject.toml
  bigquery/pyproject.toml
  datastore/pyproject.toml
  pubsub/pyproject.toml
  storage/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): fixup renovate support for poetry
  .github/renovate.json
Due: none

docs(storage): fixup missing backoff link
  storage/README.rst
  storage/pyproject.toml
Due: poetry-check

fix(deps): fixup renovate config parsing
  .github/renovate.json
Due: none

chore(deps): update dependency thekevjames/nox to v2022 (#418)
  .circleci/config.yml
Due: none

chore(deps): update dependency python to v3.9.12 (#422)
  .circleci/config.yml
Due: none

feat(datastore): add support for cursors on GQL queries
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/gql_query_test.py
Due: pytest-fixture-require-scope

docs(contrib): discuss failing integration tests
  .github/CONTRIBUTING.rst
Due: none

feat(datastore): add support for cursors on GQL queries (#459)
  datastore/gcloud/aio/datastore/__init__.py
  datastore/gcloud/aio/datastore/query.py
  datastore/tests/integration/smoke_test.py
  datastore/tests/unit/gql_query_test.py
Due: pytest-fixture-require-scope

chore(release): bump version
  datastore/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  aio/datastore/index.html
  aio/datastore/query.html
  rest/datastore/index.html
  rest/datastore/query.html
Due: none

chore(rest): rebuild outdated lockfiles
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  storage/pyproject.rest.toml
Due: poetry-check

chore(deps): update dependency cffi to < 1.15.1
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(deps): update node.js to v17.9.0
  .circleci/config.yml
Due: none

fix: Subscriber shutdown exception handling fix
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

chore(deps): update node.js to v17.9.0 (#460)
  .circleci/config.yml
Due: none

fix: Subscriber shutdown exception handling fix (#461)
  pubsub/gcloud/aio/pubsub/subscriber.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  aio/pubsub/index.html
  aio/pubsub/subscriber.html
  rest/pubsub/subscriber.html
Due: none

chore(deps): update dependency backoff to v2
  auth/poetry.lock
  auth/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

chore(deps): update dependency backoff to v2 (#464)
  auth/poetry.lock
  auth/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check

feat(storage): expose StreamResponse content length
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixture-require-scope

chore(release): bump version
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check

[skip ci] updated docs
  aio/storage/index.html
  aio/storage/storage.html
  rest/storage/index.html
  rest/storage/storage.html
Due: none

chore(deps): update dependency cryptography to v37
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(deps): update dependency cryptography to v37 (#463)
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

chore(deps): update node.js to v18
  .circleci/config.yml
Due: none

chore(deps): update node.js to v18 (#462)
  .circleci/config.yml
Due: none

chore(deps): lock file maintenance
  auth/poetry.lock
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

chore(deps): update dependency python to v3.9.13
  .circleci/config.yml
Due: none

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
