Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

feat(storage): support uploading gzipped files
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/signed_url_test.py
  storage/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

Remove unused method
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(deps): lock file maintenance
  bigquery/poetry.lock
  datastore/poetry.lock
  kms/poetry.lock
  pubsub/poetry.lock
  storage/poetry.lock
  taskqueue/poetry.lock
Due: none

Fix compression bug
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(deps): update dependency pytest-asyncio to v0.23.6
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Reset buffer position after compression
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Fix buffer reset
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Add comment and type hints
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Fix type hints
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(deps): update python docker tag to v3.10.14
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.8.19
  .circleci/config.yml
Due: none

chore(deps): update python docker tag to v3.9.19
  .circleci/config.yml
Due: none

chore(deps): update dependency pytest-mock to v3.13.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency pytest-mock to v3.14.0
  auth/poetry.lock
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

More typing fixes
  storage/gcloud/aio/storage/blob.py
  storage/gcloud/aio/storage/storage.py
  storage/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

Initial implementation for REST lib
  auth/gcloud/aio/auth/session.py
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Update semver
  auth/pyproject.toml
  storage/gcloud/aio/storage/storage.py
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Upgrade auth dependency in storage project
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

More type hints fixes
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

Update type hint
  auth/gcloud/aio/auth/session.py
Due: pytest-fixtures-require-scope

Revert unwanted change
  storage/gcloud/aio/storage/storage.py
Due: pytest-fixtures-require-scope

chore(deps): update dependency pyasn1-modules to >= 0.2.1, < 0.4.1
  storage/poetry.lock
  storage/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
