Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.11.16
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.33.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.33.0 (#884)
  .pre-commit-config.yaml
Due: none

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

add the delimiter argument to list_blobs and return the folders as a list of items
  storage/gcloud/aio/storage/bucket.py
Due: pytest-fixtures-require-scope

fix(deps): roll back python
  .circleci/config.yml
  .pre-commit-config.yaml
Due: none

BaseToken.ensure_token should not cache failed calls to acquire_access_token
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Add a test to ensure acquiring only calles refresh once
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Whoops
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v22.15.0
  .circleci/config.yml
Due: none

chore(deps): update node.js to v22.15.0 (#887)
  .circleci/config.yml
Due: none

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

chore(deps): update dependency poetry to v2
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.7
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.7 (#888)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.11.18
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

PR feedback
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Lint
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Mock the instance, since the name can change
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v24
  .circleci/config.yml
Due: none

Fix import for package
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Revert "Fix import for package"
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Only run test in gcloud-aio
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Line too long
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Make tests compatible between rest and aio
  auth/tests/unit/token_test.py
  bin/build-rest
Due: pytest-fixtures-require-scope

Revert "refactor(lint): apply automatic lint fixes"
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

Revert "Make tests compatible between rest and aio"
  auth/tests/unit/token_test.py
  bin/build-rest
Due: pytest-fixtures-require-scope

chore(deps): update dependency pyjson5 to v1.6.9
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency pyjson5 to v1.6.9 (#890)
  .pre-commit-config.yaml
Due: none

fix(storage): BaseToken.ensure_token should not cache failed calls to acquire_access_token (#886)
  auth/gcloud/aio/auth/token.py
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v22.15.1
  .circleci/config.yml
Due: none

chore(deps): update node.js to v22.15.1 (#891)
  .circleci/config.yml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
