Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$

[skip ci] updated docs
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/rest.html
  gcloud/rest/auth.html
  search.js
Due: none

chore(release): bump versions
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/rest.html
  gcloud/rest/auth.html
  search.js
Due: none

feat(auth): implement iap auth token
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(auth): release alpha version for testing
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(auth): minor tweaks from manual testing
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Due: none

chore(auth): bump minor version
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

Updates
  _sources/autoapi/storage/index.rst.txt
  _sources/autoapi/storage/storage/index.rst.txt
  autoapi/storage/index.html
  autoapi/storage/storage/index.html
  searchindex.js
Due: none

refactor(auth): use BaseToken in unit test
  auth/tests/unit/token_test.py
Due: pytest-fixtures-require-scope

docs(auth): include IapToken documentation
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
Due: pytest-fixtures-require-scope

refactor(auth): use class-level default token ttl
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

refactor(session): remove allow_redirects on get method
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

refactor(auth): clarify impersonating sa arg name
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

feat(auth): implement iap auth token (#637)
  auth/README.rst
  auth/gcloud/aio/auth/__init__.py
  auth/gcloud/aio/auth/session.py
  auth/gcloud/aio/auth/token.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
  auth/tests/unit/token_test.py
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

fix(auth): use iap aud for gce metadata server
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

docs(auth): add comment for iap
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(auth): bump to 5.1.1
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(auth): use iap aud for gce metadata server (#646)
  auth/gcloud/aio/auth/token.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

perf(auth): avoid unnecessary token refresh on get_project()
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

perf(auth): avoid unnecessary token refresh on get_project() (#653)
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

feat(bigquery): Include params for _post_json() and _delete()
  bigquery/gcloud/aio/bigquery/bigquery.py
Due: pytest-fixtures-require-scope

feat(bigquery): Include location for BigQuery Job
  bigquery/gcloud/aio/bigquery/job.py
Due: pytest-fixtures-require-scope
