Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, pytest-fixture-require-scope

poetry-check:
  name: poetry-check-taskqueue
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'cd taskqueue && poetry check'
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: false

pytest-fixture-require-scope:
  name: Require explicit scope for pytest fixtures
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(auth): fixup dict vs mapping type hints
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
  search.js
Due: none

refactor(lint): fixup lint issues
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/bigquery.py
  datastore/gcloud/aio/datastore/datastore.py
  kms/gcloud/aio/kms/kms.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Due: none

chore(auth): fixup some session data types
  .pre-commit-config.yaml
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, pytest-fixture-require-scope

chore(types): make use of new auth-4.1.2 fixed type hints
  .pre-commit-config.yaml
  bigquery/gcloud/aio/bigquery/table.py
  pubsub/gcloud/aio/pubsub/publisher_client.py
  pubsub/gcloud/aio/pubsub/subscriber_client.py
  storage/gcloud/aio/storage/storage.py
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/bigquery.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Due: none

fix(DeprecationWarning): in py3.11 aiohttp will throw a deprecation warning when passing verify_ssl
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

chore(release): bump to 4.1.3
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

chore(release): bump versions
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Due: none

feat(taskqueue): delete deprecated util methods
  taskqueue/gcloud/aio/taskqueue/__init__.py
  taskqueue/gcloud/aio/taskqueue/utils.py
  taskqueue/tests/unit/queue_test.py
  taskqueue/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

feat(taskqueue): add helper fn for constructing task names
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

feat(taskqueue): add helper fn for constructing task names (#560)
  taskqueue/gcloud/aio/taskqueue/queue.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

chore(release): bump version
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check

[skip ci] updated docs
  gcloud/aio/taskqueue.html
  gcloud/rest/taskqueue.html
Due: none

fix: use `ssl` instead of `verify_ssl` in aiohttp.TCPConnector
  auth/gcloud/aio/auth/session.py
Due: pytest-fixture-require-scope

fix(DeprecationWarning): thrown by aiohttp in python3.11 by using ssl instead of verify_ssl (#558)
  auth/gcloud/aio/auth/session.py
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check, pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/auth.html
  gcloud/rest/auth.html
Due: none

chore(deps): update node.js to v19.4.0
  .circleci/config.yml
Due: none

chore(poetry-publish): use pypi-token env variable for `poetry publish`
  .circleci/config.yml
Due: none

chore(poetry-publish): use pypi-token env variable for `poetry publish` (#566)
  .circleci/config.yml
Due: none

[skip ci] updated docs
  gcloud.html
  gcloud/aio.html
  gcloud/aio/auth.html
  gcloud/aio/bigquery.html
  gcloud/aio/datastore.html
  gcloud/aio/kms.html
  gcloud/aio/pubsub.html
  gcloud/aio/storage.html
  gcloud/aio/taskqueue.html
  gcloud/rest.html
  gcloud/rest/auth.html
  gcloud/rest/bigquery.html
  gcloud/rest/datastore.html
  gcloud/rest/kms.html
  gcloud/rest/pubsub.html
  gcloud/rest/storage.html
  gcloud/rest/taskqueue.html
Due: none

feat: bump version for gcloud-*-auth to 4.1.4
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

feat: bump version for gcloud-*-auth to 4.1.4 (#568)
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

fix(circleci): bad interpolation when creating PYPI_TOKEN_*
  .circleci/config.yml
Due: none

fix(circleci): bad interpolation when creating PYPI_TOKEN_* (#570)
  .circleci/config.yml
Due: none

fix: bad interpolation of token in BASH_ENV
  .circleci/config.yml
Due: none

fix: bad interpolation of token in BASH_ENV (#571)
  .circleci/config.yml
Due: none

feat(auth): bump `gcloud-*-auth` to 4.1.5 in order to re-release
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

feat(auth): bump `gcloud-*-auth` to 4.1.5 in order to re-release (#572)
  auth/pyproject.rest.toml
  auth/pyproject.toml
Due: poetry-check

chore(deps): update node.js to v19.4.0 (#565)
  .circleci/config.yml
Due: none

chore(deps): update dependency cryptography to v39
  auth/poetry.lock
  auth/pyproject.toml
Due: poetry-check

feat(taskqueue): delete deprecated util methods (#559)
  taskqueue/gcloud/aio/taskqueue/__init__.py
  taskqueue/gcloud/aio/taskqueue/utils.py
  taskqueue/tests/unit/queue_test.py
  taskqueue/tests/unit/utils_test.py
Due: pytest-fixture-require-scope

[skip ci] updated docs
  gcloud/aio/taskqueue.html
  gcloud/rest/taskqueue.html
  search.js
Due: none

feat(repo): remove unused settings app config
  .github/settings.yml
Due: none

Path conditions:
  poetry-check: any of: \.toml$
  pytest-fixture-require-scope: any of: \.py$
