Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update node.js to v22.9.0
  .circleci/config.yml
Due: none

fix(pubsub): fix unhandled exception in subscriber task
  pubsub/gcloud/aio/pubsub/subscriber.py
  pubsub/tests/unit/subscriber_test.py
Due: pytest-fixtures-require-scope

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore(repo): update CODEOWNERS with cphoward (#804)
  .github/CODEOWNERS
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.3
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/pre-commit-hooks to v5
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency python/cpython to v3.13
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook python-jsonschema/check-jsonschema to v0.29.4
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.12.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/reorder-python-imports to v3.14.0
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.10.0
  .circleci/config.yml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update dependency aiohttp to v3.10.10
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook asottile/pyupgrade to v3.18.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.1
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.12.1
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.13.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook asottile/pyupgrade to v3.19.0
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.11.0
  .circleci/config.yml
Due: none

feat(auth): support service account impersonation from gcloud json file
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(auth): cleanup formatting for source credentials
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
