Repository talkiq/gcloud-aio: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-use-version-ranges, pytest-fixtures-require-scope

poetry-check:
  name: check pyproject.toml validity
  description: Validate the structure of the pyproject.toml file
  entry: bash -c 'set -e; for toml in "$@"; do pushd ./${toml%pyproject.toml}; poetry check; popd; done' --
  language: python
  additional_dependencies:
  - poetry>=1.2.0
  pass_filenames: true

poetry-use-version-ranges:
  name: avoid using carets for version ranges
  description: Avoid using carets for version ranges
  entry: \^
  language: pygrep

pytest-fixtures-require-scope:
  name: ensure pytest fixture scopes are explicitly set
  description: Ensure we explicitly set pytest fixture scopes
  entry: '@pytest\.fixture( |\n|(\(\)))'
  language: pygrep

chore(deps): update pre-commit hook pycqa/pylint to v3.3.2
  .pre-commit-config.yaml
Due: none

Support metadata env
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

Support plain old list arg with IN filter
  datastore/gcloud/aio/datastore/filter.py
  datastore/tests/unit/filter_test.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v22.12.0
  .circleci/config.yml
Due: none

chore(deps): update dependency aiohttp to v3.11.10
  datastore/pyproject.toml
  pubsub/pyproject.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

fix(storage)/get-signed-url-unclosed-session
  storage/gcloud/aio/storage/blob.py
Due: pytest-fixtures-require-scope

chore(deps): update node.js to v23
  .circleci/config.yml
Due: none

feat(datastore): support plain old list arg with IN filter (#835)
  datastore/gcloud/aio/datastore/filter.py
  datastore/tests/unit/filter_test.py
Due: pytest-fixtures-require-scope

chore(release): bump version
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
Due: poetry-check, poetry-use-version-ranges

chore: fix lint issues
  datastore/gcloud/aio/datastore/filter.py
  datastore/tests/unit/filter_test.py
Due: pytest-fixtures-require-scope

chore(deps): update pre-commit hook asottile/pyupgrade to v3.19.1
  .pre-commit-config.yaml
Due: none

chore(deps): update node.js to v22.12.0 (#836)
  .circleci/config.yml
Due: none

chore(deps): update dependency aiohttp to v3.9.5
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(repo): bump linter specs
  .pre-commit-config.yaml
Due: none

feat: drop support for python 3.8
  .circleci/config.yml
  .pre-commit-config.yaml
  auth/poetry.lock
  auth/poetry.rest.lock
  auth/pyproject.rest.toml
  auth/pyproject.toml
  bigquery/poetry.lock
  bigquery/poetry.rest.lock
  bigquery/pyproject.rest.toml
  bigquery/pyproject.toml
  datastore/poetry.lock
  datastore/poetry.rest.lock
  datastore/pyproject.rest.toml
  datastore/pyproject.toml
  kms/poetry.lock
  kms/poetry.rest.lock
  kms/pyproject.rest.toml
  kms/pyproject.toml
  pubsub/poetry.lock
  pubsub/poetry.rest.lock
  pubsub/pyproject.rest.toml
  pubsub/pyproject.toml
  storage/poetry.lock
  storage/poetry.rest.lock
  storage/pyproject.rest.toml
  storage/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/poetry.rest.lock
  taskqueue/pyproject.rest.toml
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

docs(ci): fixup sphinx build
  .circleci/config.yml
  conf.py
Due: pytest-fixtures-require-scope

my pr
  auth/gcloud/aio/auth/token.py
  auth/tests/integration/smoke_test.py
Due: pytest-fixtures-require-scope

After chat changes
  auth/gcloud/aio/auth/token.py
  bin/build-rest
Due: pytest-fixtures-require-scope

lint
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

[skip ci] updated docs
  .doctrees/environment.pickle
Due: none

PR nits
  auth/gcloud/aio/auth/token.py
Due: pytest-fixtures-require-scope

chore(deps): update dependency python/cpython to v3.13
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.14.0
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.14.0 (#841)
  .pre-commit-config.yaml
Due: none

chore(deps): update dependency aiohttp to v3.11.11
  datastore/poetry.lock
  datastore/pyproject.toml
  pubsub/poetry.lock
  pubsub/pyproject.toml
  taskqueue/poetry.lock
  taskqueue/pyproject.toml
Due: poetry-check, poetry-use-version-ranges

chore(deps): update pre-commit hook pycqa/pylint to v3.3.3
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pycqa/pylint to v3.3.3 (#843)
  .pre-commit-config.yaml
Due: none

chore(deps): update pre-commit hook pre-commit/mirrors-mypy to v1.14.1
  .pre-commit-config.yaml
Due: none

Path conditions:
  poetry-check: any of: pyproject\.toml$
  poetry-use-version-ranges: any of: pyproject.toml$ and \.toml$
  pytest-fixtures-require-scope: any of: \.py$
